*,
::after,
::before,
::backdrop,
::file-selector-button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0 solid;
}

:root{
    --primary-color-black: #030303;
    --secondary-color-black: #080808;
    --tertiary-color-black: #101010;
    --primary-color-white: #f5f5f5;
    --secondary-color-white: #;
    --tertiary-color-white: #;
    --primary-color-gray: #646464;
    --secondary-color-gray: #;
    --tertiary-color-gray: #;
    --primary-color-red: #;
    --secondary-color-red: #;
    --tertiary-color-red: #;
    --primary-color-green: #;
    --secondary-color-green: #;
    --tertiary-color-green: #;
    --primary-color-blue: #;
    --secondary-color-blue: #;
    --tertiary-color-blue: #;
    --primary-color-orange: #;
    --secondary-color-orange: #;
    --tertiary-color-orange: #;
    --primary-color-yellow: #;
    --secondary-color-yellow: #;
    --tertiary-color-yellow: #;
    --primary-color-pink: #;
    --secondary-color-pink: #;
    --tertiary-color-pink: #;
    --primary-color-purple: #;
    --secondary-color-purple: #;
    --tertiary-color-purple: #;
    --primary-color-cyan: #;
    --secondary-color-cyan: #;
    --tertiary-color-cyan: #;
    --font-weight-thin: 100;
    --font-weight-extralight: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;
    --font-size-base: 16px;
    --reset-size-base: 0px;
    --p10-size-base: 10px;
    --p20-size-base: 20px;
    --p25-size-base: 25px;
    --p40-size-base: 40px;
    --p50-size-base: 50px;
    --p100-size-base: 100px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body{
    line-height: 1.8;
    font-family: var(--font-family-sans-serif);
    font-size: var(--font-size-base);
    color: var(--primary-color-white);
    background-color: var(--primary-color-black);
    overflow-x: hidden;
    font-size: var(--reset-size-base);
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: var(--reset-size-base);
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: inherit;
    color: inherit;
}

ol,
ul,
menu {
    list-style: none;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}

img,
video {
    max-width: 100%;
    height: auto;
}

button{
    outline: none;
    cursor: pointer;
    padding: 10px;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: inherit;
}