/* default */

.wrapper{
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    overflow: hidden;
}

.section-container{
    position: relative;
    width: 90%;
    height: auto;
}

/* calculator content */

.title-calculator{
    font-size: calc(var(--p20-size-base) * 2);
    font-weight: var(--font-weight-extrabold);
    text-align: center;
}

.shortcut-box{
    width: 100%;
    height: auto;
    margin: var(--p10-size-base) 0;
    padding: var(--p25-size-base);
    background-color: var(--secondary-color-black);
    color: var(--primary-color-white);
    font-size: var(--font-size-base);
}

#calculator{
    position: relative;
    width: calc(var(--p100-size-base) * 5 - var(--p50-size-base));
    height: calc(var(--p100-size-base) * 5);
    padding: var(--p20-size-base);
    background-color: var(--secondary-color-black);
    color: var(--primary-color-white);
    font-size: var(--font-size-base);
    border-radius: var(--p10-size-base);
    -webkit-border-radius: var(--p10-size-base);
    -moz-border-radius: var(--p10-size-base);
    -ms-border-radius: var(--p10-size-base);
    -o-border-radius: var(--p10-size-base);
}

.monitor{
    display: flex;
    width: 100%;
    height: calc(var(--p100-size-base) - 10px);
    padding: calc(var(--p10-size-base) + 5px);
    margin: 0 0 var(--p10-size-base) 0;
    background-color: var(--primary-color-black);
    border: 1px solid var(--primary-color-gray);
    border-radius: var(--p10-size-base);
    -webkit-border-radius: var(--p10-size-base);
    -moz-border-radius: var(--p10-size-base);
    -ms-border-radius: var(--p10-size-base);
    -o-border-radius: var(--p10-size-base);
    font-size: var(--p40-size-base);
    align-items: center;
    overflow: hidden;
}

.operation-box{
    display: grid;
    width: 100%;
    height: calc(100% - var(--p100-size-base));
    grid-template-columns: repeat(5, 1fr);
    /*grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 10px 10px 10px 10px 10px;*/
    gap: var(--p10-size-base);
    font-size: var(--p25-size-base);
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
}

.operation-box > button{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--tertiary-color-black);
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
}

.animation-btn:hover{
    background-color: rgb(25, 25, 25);
}

.animation-btn:active{
    background-color: rgb(35, 35, 35);
}

.def-num0{
    grid-column: span 2;
}