*,
::after,
::before,
::backdrop,
::file-selector-button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0 solid;
}

body{
    font-family: sans-serif;
    background-color: rgb(250, 250, 250);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/* ol,
ul,
menu {
    list-style: none;
} */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}

img,
video {
    max-width: 100%;
    height: auto;
}

/* main content */

.wrapper{
    display: flex;
    width: 100vw;
    height: auto;
    justify-content: center;
}

.container{
    position: relative;
    width: 90%;
    height: 100%;
}

.title{
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

/* calculator */

.shortcut-box{
    width: 100%;
    height: auto;
    margin: 10px 0;
    padding: 35px;
    font-family: monospace;
    background-color: rgb(169, 169, 169);
}

/* .shortcut-box > pre > ul */

#calculator{
    width: 350px;
    height: 500px;
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.monitor{
    display: flex;
    width: 100%;
    height: 90px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: black;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 50px;
    text-align: left;
    align-items: center;
    overflow: hidden;
}

.operation{
    display: grid;
    width: 100%;
    height: calc(100% - 100px);
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    /* grid-template-columns: auto auto auto auto; */
    /* grid-template-rows: 10px 10px 10px 10px 10px; */
    gap: 10px;
    font-size: 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.operation > div{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    /* border: 1px solid white; */
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}

.animation-btn:hover{
    background-color: rgb(25, 25, 25);
}

.animation-btn:active{
    background-color: rgb(35, 35, 35);
}

.n0{
    grid-column: span 2;
}