*,
::after,
::before,
::backdrop,
::file-selector-button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0 solid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

ol,
ul,
menu {
    list-style: none;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}

img,
video {
    max-width: 100%;
    height: auto;
}

/* main content */

#wrapper{
    width: 100vw;
    height: auto;
}

#container{
    position: relative;
    width: 90%;
    height: 100%;
}

/* calculator */

#calculator{
    width: 350px;
    height: 500px;
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.monitor{
    width: 100%;
    height: 90px;
    margin-bottom: 10px;
    background-color: black;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.operation{
    display: grid;
    width: 100%;
    height: calc(100% - 100px);
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    /* grid-template-columns: auto auto auto auto; */
    /* grid-template-rows: 10px 10px 10px 10px 10px; */
    gap: 10px;
    font-size: 25px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.operation > div{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    /* border: 1px solid white; */
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}

.n0{
    grid-column: span 2;
}